<h1>Editing filter</h1>

<%= form_for(@filter) do |f| %>
<%= f.hidden_field :report_id %>
<div>
<%= f.label :name %><br />
<%= f.text_field :name %>
</div>
<div>
<%= f.label :field_name %><br />
<%= f.text_field :field_name %>
</div>
<div>
<%= f.label :operation %><br />
<%= f.text_field :operation %>
</div>
<div>
<%= f.label :value %><br />
<%= f.text_field :value %>
</div>
<div>
<%= f.submit "Add" %>
</div>
<% end %>
